.dark .p-inputtext,.dark .p-textarea,.dark .p-select{
    background: #ffffff0d !important;
    border:1px solid #cbd5e11a !important;
    font-size: 12px !important;
    color: white !important;

}
.dark .p-drawer{
    background: #000000 !important;
    border: 1px solid rgb(34, 34, 34);
}
.dark .p-radiobutton-box{
    background: #262626 !important;
}
.dark .p-button-text.p-button-secondary:not(:disabled):hover{
background: #f8fafc17 !important;
}
.dark .p-select-sm .p-select-label{
    color: white !important;
}
.p-textarea,.p-inputtext{
    font-size: 12px !important;
}
.dark .p-floatlabel-on:has(input:focus) label, 
.dark .p-floatlabel-on:has(input.p-filled) label, 
.dark .p-floatlabel-on:has(input:-webkit-autofill) label, 
.dark .p-floatlabel-on:has(textarea:focus) label, 
.dark .p-floatlabel-on:has(textarea.p-filled) label, 
.dark .p-floatlabel-on:has(.p-inputwrapper-focus) label, 
.dark .p-floatlabel-on:has(.p-inputwrapper-filled) label, 
.dark .p-floatlabel-on:has(input[placeholder]) label, 
.dark .p-floatlabel-on:has(textarea[placeholder]) label{
    background:#060606 !important;
}
.p-drawer-header{
    padding-bottom: 3px !important;
}


/* //button */
.dark .p-button-secondary{
    background: #262626 !important;
    border: 1px solid #333333 !important;
    color:white;
}
.dark .p-button-warn{
    background: #5d3011 !important;
    border: 1px solid #333333 !important;
    color:white;
}
.dark .p-button-success{
    background: #22c55e4a !important;
    border: 1px solid #333333 !important;
    color:white;
}
/* //radio */
.dark .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon{
    background: #018790 !important;
}