.dark .p-inputtext,.dark .p-textarea,.dark .p-select{
    background: #ffffff0d !important;
    border:1px solid #cbd5e11a !important;
    font-size: 12px !important;
    color: white !important;

}
.dark .p-drawer{
    background: #000000 !important;
    border: 1px solid rgb(34, 34, 34);
}
.dark .p-radiobutton-box{
    background: #262626 !important;
}
.dark .p-button-text.p-button-secondary:not(:disabled):hover{
background: #f8fafc17 !important;
}
.dark .p-select-sm .p-select-label{
    color: white !important;
}
.p-textarea,.p-inputtext{
    font-size: 12px !important;
}
.dark .p-floatlabel-on:has(input:focus) label, 
.dark .p-floatlabel-on:has(input.p-filled) label, 
.dark .p-floatlabel-on:has(input:-webkit-autofill) label, 
.dark .p-floatlabel-on:has(textarea:focus) label, 
.dark .p-floatlabel-on:has(textarea.p-filled) label, 
.dark .p-floatlabel-on:has(.p-inputwrapper-focus) label, 
.dark .p-floatlabel-on:has(.p-inputwrapper-filled) label, 
.dark .p-floatlabel-on:has(input[placeholder]) label, 
.dark .p-floatlabel-on:has(textarea[placeholder]) label{
    background:#060606 !important;
}
.p-drawer-header{
    padding-bottom: 3px !important;
}


/* //button */
.dark .p-button-secondary{
    background: #262626 !important;
    border: 1px solid #333333 !important;
    color:white;
}
.dark .p-button-warn{
    background: #5d3011 !important;
    border: 1px solid #333333 !important;
    color:white;
}
.dark .p-button-success{
    background: #22c55e4a !important;
    border: 1px solid #333333 !important;
    color:white;
}
.dark .disabled.p-disabled,
.dark .disabled.p-component:disabled{
    background: #353535 !important;
    border: 1px solid #353535 !important;
}
/* //radio */
.dark .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon{
    background: #018790 !important;
}

/* pagination */
.dark .p-paginator{
    background: #00000000;
}
.dark .p-paginator-page.p-paginator-page-selected{
    background:  #373737 !important;
    color:white;
}

.dark .p-button-secondary{
    background: #26262600 !important;
    border: 1px solid #33333300 !important;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px; /* or a percentage, max-width, etc. */
}




.p-menu-item-link{
    column-gap: 15px !important; 
}
.p-menu-list{
    padding: 13px 8px !important;
}
.p-menu-item-label{
    font-size: 14px !important;
}
.p-menu-overlay{
    border-radius:17px !important;
}


.dark .p-menu-overlay{
    background-color: black !important;
    border: 1px solid rgb(22, 22, 22)  !important;
}

.dark .p-menu-item:not(.p-disabled) .p-menu-item-content:hover{
    background: #1a1a1a !important;
    color:white  !important
}
.dark .p-menu-item-label{
    color:#9ba7a9 !important;
}